{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    <ul style="list-style-type: none;">
                        <li><h3>{{ post.title }}</h3></li>
                        <li><code>{{ post.created|date("m/d/Y") }}</code></li>
                        <li><i><strong>{{ post.description }}</strong></i></li>
                        <li><i>{{ post.content| truncate(200, false, ' ...') }}</i></li>
                        <li>
                            <br>
                            <p><strong><i>Thèmes : </i></strong></p>
                            {% for category in post.categories %}
                                <ul>
                                    <li>{{ category.name }}</li>
                                </ul>
                            {% endfor %}
                        </li>
                    </ul>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}