{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    <ul style="list-style-type: none;">
                        <h3><a href="{{ path('post_info', {'id' : post.id }) }}">{{ post.title }}</a>
                        </h3>
                        <li><code>{{ post.created|date("m/d/Y") }}</code></li>
                        <strong><i>AUTHOR TO DO (relation)</i></strong>
                        {#<li><i><strong>{{ post.description }}</strong></i></li>#}
                        <li><i>{{ post.content| truncate(200, false, ' ...') }}</i></li>
                        <li>
                            <br>
                            <p><strong><i>Thèmes : </i></strong></p>
                            {% for category in post.categories %}
                                <ul>
                                    <li>{{ category.name }}</li>
                                </ul>
                            {% endfor %}
                        </li>
                        <br>
                    </ul>

                    <hr>
                {% endfor %}

            </div>
        </div>

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
