{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if posts is defined and posts != "" %}
                    {% for post in posts %}
                            <div class="jumbotron">
                                <h1 class="display-3">{{ post.title }}</h1>
                                <p class="lead">{{ post.description }}</p>
                                <hr class="my-4">
                                <p>{{ post.content }}</p>
                                <p class="lead">
                                    <a class="btn btn-success btn-lg" href="#" role="button">Add comment</a>
                                </p>
                            </div>
                            <h3>Comments</h3>
                            {% for comment in post.comment %}
                                <ul style="list-style-type: none">
                                    <li>{{ comment.commentator }}</li>
                                    <li>{{ comment.content }}</li>
                                    <li><code>{{ comment.created|date("m/d/Y") }}</code></li>
                                </ul>
                            {% endfor %}
                    {% endfor %}
                {% endif %}
                {% if categories is defined and categories != "" %}
                    {% for category in categories %}
                        <h3>{{ category.name|capitalize }}</h3>
                    {% endfor %}
                    {% for post in allPosts %}
                        <ul style="list-style-type: none;">
                            <li><h3>{{ post.title }}</h3></li>
                            <li><code>{{ post.created|date("m/d/Y") }}</code></li>
                            <li><i><strong>{{ post.description }}</strong></i></li>
                            <li><i>{{ post.content| truncate(200, false, ' ...') }}</i></li>
                            <li>
                                <br>
                                <p><strong><i>Thèmes : </i></strong></p>
                                {% for category in post.categories %}
                                    <ul>
                                        <li>{{ category.name }}</li>
                                    </ul>
                                {% endfor %}
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(allPosts) }}
                    </div>
                {% endif %}
                {% if error is defined and error != "" %}
                    <div class="alert alert-danger text-center" role="alert">
                        <strong>404</strong> Article not found !
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}