{% extends 'BlogBundle::layout.html.twig' %}


{% block nav %}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home') }}">Yet Another Blog</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                {% for rubrique in rubriques %}
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="{{ path('slug_path', {'slug' :  rubrique.slug } ) }}">{{ rubrique.name|capitalize }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_USER') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">Logout</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/yab/dashboard">Dashboard</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('sonata_user_admin_security_login') }}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>



{% endblock %}




{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if posts is defined and posts != "" %}
                    {% for post in posts %}
                        <div class="jumbotron">
                            <h1 class="display-3">{{ post.title }}</h1>
                            <p class="lead">{{ post.description }}</p>
                            <hr class="my-4">
                            <p>{{ post.content }}</p>
                            <p class="lead">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_USER') %}
                                    <a class="btn btn-success btn-lg"
                                       href="{{ path('post_comment', {'id' : post.id}) }}" role="button">Add comment</a>
                                {% else %}
                                    <a class="btn btn-success btn-lg disabled"
                                       href="#" role="button">Add comment</a>
                                {% endif %}
                            </p>

                            <strong>TAG : </strong>
                            {% for category in post.categories %}
                                <ul class="list-inline">
                                    <li>
                                        <a class="nav-link"
                                           href="{{ path('slug_path', {'slug' :  category.slug } ) }}">{{ category.name|capitalize }}</a>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                        <h3>Comments</h3>
                        {% for comment in post.comment %}
                            {% if comment.commentator.id == userId and userId != "" %}
                                <a href="{{ path('post_comment_delete', {'id' :  post.id , 'id_comment': comment.id }) }}">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </a>

                                <a href="{{ path('post_comment_edit', {'id' :  post.id , 'id_comment': comment.id }) }}">
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span>
                                    </button>
                                </a>

                            {% else %}
                                <!-- cant delete or edit ! -->
                            {% endif %}
                            <ul style="list-style-type: none">
                                <li>{{ comment.commentator }}</li>
                                <li>{{ comment.content }}</li>
                                <li><code>{{ comment.created|date("m/d/Y") }}</code></li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% if categories is defined and categories != "" %}
                    {% for category in categories %}
                        <h3>{{ category.name|capitalize }}</h3>
                    {% endfor %}
                    {% for post in allPosts %}
                        <ul style="list-style-type: none;">
                            <h3><a href="{{ path('slug_path', {'slug' : post.slug }) }}">{{ post.post_title }}</a></h3>
                            <li><code>{{ post.created|date("m/d/Y") }}</code></li>
                            <li><i><strong>{{ post.description }}</strong></i></li>
                            <li><i>{{ post.content| truncate(200, false, ' ...') }}</i></li>
                        </ul>
                        <hr>
                    {% endfor %}
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(allPosts) }}
                    </div>
                {% endif %}
                {% if error is defined and error != "" %}
                    <div class="alert alert-danger text-center" role="alert">
                        <strong>404</strong> Article not found !
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}